@model Favours.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutWithoutNav.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Login/login.css">
</head>
<center>
    <div class="login-page">
        <div class="form">
            <div style="color: dimgrey;"></div>
            <h2 class="login-title">Login</h2>
            <form asp-action="Login" asp-controller="Authentication" method="post" class="login-form">
                <div class="editor-field"><input class="text-box single-line" asp-for="Email" type="email" value="" placeholder="E-mail"></div>
                <div class="editor-field"><input class="text-box single-line password" asp-for="Password" type="password" placeholder="Password"></div>
                <input type="submit" value="LOGIN" style="background-color: #0088ce; color: white;">
            </form>
            <button onclick="window.location='@Url.Action("Register", "Authentication")'" style="background-color: #0088ce; color: white;">Register</button>
        </div>
    </div>
</center>

