@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    string[] netwerken = ViewData["Netwerk"] as string[];
    string[] netwerknaam = ViewData["netwerknaam"] as string[];
}
<body>

</body>

